<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login | Online Exam</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-container">
    <div class="login-card">
        <h2>Online Exam Portal</h2>
        <p class="login-subtitle"></p>

        {% if error %}
        <div class="error-box">{{ error }}</div>
        {% endif %}

        <form method="post">
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter username" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password" required>
            </div>

            <button type="submit" class="btn login-btn">Login</button>
        </form>

    </div>
</div>

</body>
</html>
